body{
	margin: 0;
	padding: : 0;
	height: 100vh;
	background-color: #2c3e50;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Anton', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Saira', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
}

.loading{
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #eb4d4b; 
	position: relative;
	animation: a1 2s linear infinite;
}

.loading:before,.loading:after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	left: 0;
	box-sizing: border-box;
	border-radius: 50%;
}

.loading:before{
	border-top: 10px solid #f0932b;
	transform: rotate(120deg);
}

.loading:after{
	border-top: 10px solid #22a6b3;
	transform: rotate(240deg);
}

.loading span{
position: absolute;
width: 200px;
height: 200px;
color: #fff;
text-align: center;
line-height: 200px;
animation: a2 2s linear infinite;
}

@keyframes a1 {
    to{ transform: rotate(360deg); 
   }
}

@keyframes a2{
	to{transform: rotate(-360deg);

	}
}